<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Motogp Calendar</title>
    <link
      rel="stylesheet"
      href="../../assets/icon/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="assets/css/calendar.css" />
  </head>
  <body>
    <div class="main"></div>
    <div th:replace="~{home/fragments/header :: header}"></div>
    <div class="sub-header">
      <ul id="sub-nav">
        <li><a href="">2024 CALENDAR</a></li>
      </ul>
    </div>
    <div class="calendar-container">
      <div th:each="entry : ${calendarsByMonth}" class="month">
        <h2 th:text="'# ' + ${entry.key}"></h2>
        <div th:each="calendar : ${entry.value}" class="event">
          <div class="overlay"></div>
          <div
            class="date"
            th:text="${dateUtil.formatDateRange(calendar.startDate, calendar.endDate)}"
          ></div>
          <h3 th:text="${calendar.eventName}"></h3>
          <p>
            <strong>Place:</strong>
            <span th:text="${calendar.circuit.location}"></span>
          </p>
          <img
            class="calendar-img"
            th:src="@{'/img_event/' + ${calendar.img_link}}"
            th:alt="'Image for ' + ${calendar.eventName}"
          />
          <img
            class="calendar-listing__layout"
            th:src="@{'/img_circuit/' + ${calendar.circuit.imageLink}}"
            th:alt="${calendar.circuit.name + ' track'}"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <div th:replace="~{home/fragments/footer :: footer}"></div>
  </body>
</html>
