<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MotoGP</title>
    <link
      rel="stylesheet"
      href="./assets/themify-icons-font/themify-icons/themify-icons.css"
    />
    <link rel="stylesheet" href="./assets/css/standing.css" />
  </head>
  <body>
    <div th:replace="~{home/fragments/header :: header}"></div>
    <div class="result">
      <div class="results__container">
        <div class="primary-filter">
          <div class="primary-filter__filter-container">
            <div class="primary-filter__filter-label">Year</div>
            <select
              class="primary-filter__filter-select primary-filter__filter-select--year"
            >
              <option value="2024">2024</option>
            </select>
          </div>
          <div class="primary-filter__filter-container">
            <div class="primary-filter__filter-label">Type</div>
            <select
              class="primary-filter__filter-select primary-filter__filter-select--type"
            >
              <option value="GP">Grands Prix</option>
            </select>
          </div>
          <div class="primary-filter__filter-container">
            <div class="primary-filter__filter-label">Event</div>
            <select
              class="primary-filter__filter-select primary-filter__filter-select--event"
              key="calendarId"
            >
              <option value="MotoGP">GRAND PRIX OF JAPAN</option>
              <option value="Moto2">GRAND PRIX OF INDONESIA</option>
              <option value="Moto3">GRAN PREMIO DELL'EMILIA-ROMAGNA</option>
              <option value="MotoE">
                GRAN PREMIO DI SAN MARINO E DELLA RIVIERA DI RIMINI
              </option>
              <option value="MotoGP">GRAN PREMIO DE ARAGÓN</option>
              <option value="MotoGP">MOTORRAD GRAND PRIX VON ÖSTERREICH</option>
              <option value="MotoGP">BRITISH GRAND PRIX</option>
              <option value="MotoGP">MOTORRAD GRAND PRIX DEUTSCHLAND</option>
            </select>
          </div>
          <div class="primary-filter__filter-container">
            <div class="primary-filter__filter-label">Category</div>
            <select
              class="primary-filter__filter-select primary-filter__filter-select--cat"
              value="category"
            >
              <option value="MotoGP">MotoGP™</option>
              <option value="Moto2">Moto2™</option>
              <option value="Moto3">Moto3™</option>
              <option value="MotoE">MotoE™</option>
            </select>
          </div>
          <div class="primary-filter__filter-container">
            <div class="primary-filter__filter-label">Session</div>
            <select
              class="primary-filter__filter-select primary-filter__filter-select--session"
              data="session"
            >
              <option value="RAC">RAC</option>
              <option value="PR">PR</option>
              <option value="WUP">WUP</option>
              <option value="SPR">SPR</option>
              <option value="Q2">Q2</option>
              <option value="Q1">Q1</option>
              <option value="FP2">FP2</option>
              <option value="FP1">FP1</option>
            </select>
          </div>
        </div>
        <div class="results__hero-container">
          <div class="results__hero-image">
            <img
              alt="Gran Premio Red Bull di San Marino e della Riviera di Rimini"
              src="https://photos.motogp.com/2024/events/background/RSM.png"
              class="results__hero-image-img js-hero-image active"
            />
          </div>
          <div class="results__hero-text">Championship Standings 2024</div>
          <div class="results__hero-details-container">
            <label for="event-details" class="results__hero-details-label"
              >Select Event Details:</label
            >
          </div>
        </div>

        <section class="standings-table">
          <div class="standings-table__table-wrapper">
            <table class="results-table__table">
              <thead>
                <tr>
                  <th
                    class="results-table__header-cell results-table__header-cell--pos"
                  >
                    pos.
                  </th>
                  <th
                    class="results-table__header-cell results-table__header-cell--rider"
                  >
                    Rider
                  </th>
                  <th
                    class="results-table__header-cell results-table__header-cell--team"
                  >
                    Team
                  </th>
                  <th
                    class="results-table__header-cell results-table__header-cell--time"
                  >
                    points
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="results-table__body-row" th:each="dto : ${points}">
                  <td
                    class="results-table__body-cell results-table__body-cell--pos"
                    th:text="${dto.rank}"
                  ></td>

                  <td
                    class="results-table__body-cell results-table__rider-details"
                  >
                    <div class="rider-image-container">
                      <img
                        th:src="@{'/img_rider/' + ${dto.standing.rider.imgUrl}}"
                        alt="Rider Image"
                        class="picture__img"
                      />
                    </div>
                    <div class="results-table__rider-name-wrapper">
                      <div class="results-table__rider-name">
                        <span
                          class="results-table__body-cell--full-name"
                          th:text="${dto.standing.rider.name}"
                        ></span>
                      </div>
                    </div>
                  </td>

                  <td>
                    <img
                      th:src="@{'/flag_svg/' + ${dto.standing.rider.country_img}}"
                      alt="Country Flag"
                      class="results-table__body-cell-flag"
                    />
                  </td>

                  <td
                    class="results-table__body-cell results-table__body-cell--team"
                    th:text="${dto.standing.rider.team.teamName}"
                  ></td>

                  <td
                    class="results-table__body-cell results-table__body-cell--time"
                  ></td>

                  <td
                    class="results-table__body-cell results-table__body-cell--pos-points"
                    th:text="${dto.standing.point}"
                  ></td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <div th:replace="~{home/fragments/footer :: footer}"></div>
      </div>
    </div>
  </body>
</html>
